section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
}

section ul {
  margin-bottom: 0;
}

section ul li {
  margin: 0em 0.4em;
}

section span {
  height: 0.1em;
  width: 30%;
  background-color: whitesmoke;
  margin-bottom: 1.5em;
}

section .content {
  box-sizing: border-box;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  width: 55%;
  padding: 2em 5em 2em 5em;
}

section .content .description {
  display: flex;
  flex-direction: column;
  align-items: start;
}

section .content .description h1 {
  font-size: 2rem;
  color: #282c34;
}

section .content .description p {
  text-align: start;
}

img {
  width: 50%;
  margin-right: 2em;
}
